# Series

In [21]:
import pandas as pd
import numpy as np

# Creating a Series

In [22]:
labels = ['A','B','C']
my_list = [1,2,3]
arr = np.array([1,2,3])
dict = {'a':10,'b' : 20,'c': 30}

In [23]:
pd.Series(data = my_list)

0    1
1    2
2    3
dtype: int64

In [24]:
pd.Series(data=my_list, index=labels)

A    1
B    2
C    3
dtype: int64

In [25]:
pd.Series(my_list,labels)

A    1
B    2
C    3
dtype: int64

In [26]:
pd.Series(arr)

0    1
1    2
2    3
dtype: int32

In [27]:
pd.Series(arr,labels)

A    1
B    2
C    3
dtype: int32

In [28]:
pd.Series(dict)

a    10
b    20
c    30
dtype: int64

In [29]:
s1 = pd.Series(data=[1,2,3,4],index = ['A','B','C','D'])

In [30]:
s2 = pd.Series(data=[1,2,3,4],index = ['A','E','C','D'])

In [31]:
s1 + s2

A    2.0
B    NaN
C    6.0
D    8.0
E    NaN
dtype: float64

In [32]:
titanic = pd.read_csv("titanic.csv")

In [34]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [35]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [36]:
type(titanic["age"])

pandas.core.series.Series

In [37]:
titanic["age"].equals(titanic.age)

True

In [38]:
age = titanic["age"]
type(age)

pandas.core.series.Series

In [39]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [40]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [41]:
age.tail(n=2)

889    26.0
890    32.0
Name: age, dtype: float64

In [42]:
age.head(n=2)

0    22.0
1    38.0
Name: age, dtype: float64

In [43]:
age.dtype

dtype('float64')

In [44]:
age.shape

(891,)

In [45]:
len(age)

891

In [46]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [47]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

###  Analyzing Numerical Series

In [48]:
age.count()

714

In [51]:
age.size

891

In [53]:
age.sum(skipna=True)

21205.17

In [54]:
age.mean(skipna = True)

29.69911764705882

In [55]:
age.median()

28.0

In [56]:
age.min()

0.42

In [57]:
age.max()

80.0

In [58]:
age.std()

14.526497332334044

In [59]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [60]:
len(age.unique())

89

In [61]:
age.nunique(dropna = False)

89

In [62]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [63]:
age.value_counts(dropna = False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
19.00     25
30.00     25
21.00     24
25.00     23
36.00     22
29.00     20
32.00     18
26.00     18
35.00     18
27.00     18
16.00     17
31.00     17
34.00     15
23.00     15
33.00     15
20.00     15
39.00     14
17.00     13
42.00     13
40.00     13
45.00     12
38.00     11
50.00     10
2.00      10
4.00      10
        ...
28.50      2
63.00      2
0.83       2
30.50      2
70.00      2
57.00      2
0.75       2
13.00      2
59.00      2
10.00      2
64.00      2
40.50      2
45.50      2
32.50      2
20.50      1
24.50      1
0.67       1
70.50      1
0.92       1
74.00      1
34.50      1
14.50      1
80.00      1
12.00      1
53.00      1
36.50      1
55.50      1
66.00      1
23.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [64]:
age.value_counts(dropna = True, sort = True, ascending = False)

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [65]:
age.value_counts(dropna = True, sort = True, ascending = False, normalize = True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
28.00    0.035014
21.00    0.033613
25.00    0.032213
36.00    0.030812
29.00    0.028011
32.00    0.025210
27.00    0.025210
35.00    0.025210
26.00    0.025210
16.00    0.023810
31.00    0.023810
20.00    0.021008
33.00    0.021008
23.00    0.021008
34.00    0.021008
39.00    0.019608
17.00    0.018207
42.00    0.018207
40.00    0.018207
45.00    0.016807
38.00    0.015406
50.00    0.014006
2.00     0.014006
4.00     0.014006
47.00    0.012605
           ...
71.00    0.002801
59.00    0.002801
63.00    0.002801
0.83     0.002801
30.50    0.002801
70.00    0.002801
57.00    0.002801
0.75     0.002801
13.00    0.002801
10.00    0.002801
64.00    0.002801
40.50    0.002801
32.50    0.002801
45.50    0.002801
20.50    0.001401
24.50    0.001401
0.67     0.001401
14.50    0.001401
0.92     0.001401
74.00    0.001401
34.50    0.001401
80.00    0.001401
12.00    0.001401
36.50    0.001401
53.00    0.001401
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: age, Length: 88, dtype: float64

In [66]:
age.value_counts(dropna = True, sort = True, ascending= False, bins = 5).head()

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

### Analyzing non-numerical Series

In [67]:
summer = pd.read_csv("summer.csv")

In [68]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [70]:
athlete = summer["Athlete"]

In [71]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [72]:
type(athlete)

pandas.core.series.Series

In [73]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [74]:
athlete.min()

'AABYE, Edgar'

In [75]:
athlete.max()

'ÖSTRAND, Per-Olof'

In [76]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [77]:
athlete.nunique()

22762

In [78]:
athlete.nunique(dropna= False)

22762

In [79]:
athlete.nunique(dropna= True)

22762

In [80]:
athlete.value_counts()

PHELPS, Michael               22
LATYNINA, Larisa              18
ANDRIANOV, Nikolay            15
MANGIAROTTI, Edoardo          13
SHAKHLIN, Boris               13
ONO, Takashi                  13
KATO, Sawao                   12
FISCHER, Birgit               12
NEMOV, Alexei                 12
NURMI, Paavo                  12
THOMPSON, Jenny               12
COUGHLIN, Natalie             12
TORRES, Dara                  12
OSBURN, Carl Townsend         11
LOCHTE, Ryan                  11
BIONDI, Matthew               11
SPITZ, Mark                   11
CASLAVSKA, Vera               11
CHUKARIN, Viktor Ivanovich    11
KELETI, Agnes                 10
NAKAYAMA, Akinori             10
DITYATIN, Aleksandr           10
VAN ALMSICK, Franziska        10
ASTAKHOVA, Polina             10
LEWIS, Carl                   10
SCHERBO, Vitaly               10
HALL, Gary Jr.                10
GEREVICH, Aladar              10
SAVOLAINEN, Heikki             9
TURISCHEVA, Lyudmila           9
                              ..
NEVALAINEN, Lauri Armas        1
ITT, Edgar                     1
YONEMITSU, Tatsuhiro           1
SILLE, Müzahir                 1
DYRDYRA, Vitali                1
LUIZAO                         1
LENK, Hans                     1
BOVO, Cesare                   1
SCHMEISSER, Richarda           1
SCHLEE, Charles                1
OBHOLZER, Rupert John          1
YANG, Hyun-Mo                  1
WALLMÜLLER, Karl               1
GRAY, Gilbert T.               1
LEE, Travis                    1
SHEVCHENKO, Lyudmyla           1
KARAS, Wladyslaw               1
SENYURT, Hulya                 1
BOCZKO, Gabor                  1
DAGON, Etienne                 1
CAREW, Mary Louise             1
GRIMALDI, Martina              1
SCHULZE, Karl                  1
WILSON, Pippa                  1
VENTURELLA, Michelle           1
LOMBARDI, Pietro               1
CHRISTENSEN, Sören Peter       1
MEYERS, Violet                 1
BROWN, David Preston           1
SCHEDER-BIESCHIN, Felix        1
Name: Athlete, Length: 22762, dtype: int64

In [81]:
athlete.value_counts(sort = True, ascending=True)

SCHEDER-BIESCHIN, Felix        1
BROWN, David Preston           1
MEYERS, Violet                 1
CHRISTENSEN, Sören Peter       1
LOMBARDI, Pietro               1
VENTURELLA, Michelle           1
WILSON, Pippa                  1
SCHULZE, Karl                  1
GRIMALDI, Martina              1
CAREW, Mary Louise             1
DAGON, Etienne                 1
BOCZKO, Gabor                  1
SENYURT, Hulya                 1
KARAS, Wladyslaw               1
SHEVCHENKO, Lyudmyla           1
LEE, Travis                    1
GRAY, Gilbert T.               1
WALLMÜLLER, Karl               1
YANG, Hyun-Mo                  1
OBHOLZER, Rupert John          1
SCHLEE, Charles                1
SCHMEISSER, Richarda           1
BOVO, Cesare                   1
LENK, Hans                     1
LUIZAO                         1
DYRDYRA, Vitali                1
SILLE, Müzahir                 1
YONEMITSU, Tatsuhiro           1
ITT, Edgar                     1
NEVALAINEN, Lauri Armas        1
                              ..
TURISCHEVA, Lyudmila           9
SAVOLAINEN, Heikki             9
GEREVICH, Aladar              10
HALL, Gary Jr.                10
SCHERBO, Vitaly               10
LEWIS, Carl                   10
ASTAKHOVA, Polina             10
VAN ALMSICK, Franziska        10
DITYATIN, Aleksandr           10
NAKAYAMA, Akinori             10
KELETI, Agnes                 10
CHUKARIN, Viktor Ivanovich    11
CASLAVSKA, Vera               11
SPITZ, Mark                   11
BIONDI, Matthew               11
LOCHTE, Ryan                  11
OSBURN, Carl Townsend         11
TORRES, Dara                  12
COUGHLIN, Natalie             12
THOMPSON, Jenny               12
NURMI, Paavo                  12
NEMOV, Alexei                 12
FISCHER, Birgit               12
KATO, Sawao                   12
ONO, Takashi                  13
SHAKHLIN, Boris               13
MANGIAROTTI, Edoardo          13
ANDRIANOV, Nikolay            15
LATYNINA, Larisa              18
PHELPS, Michael               22
Name: Athlete, Length: 22762, dtype: int64

In [82]:
pd.Series([10,25,6,36,2], index=["Mon","Tue","Wed","Thu", "Fri"], name = "Sales")

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
Name: Sales, dtype: int64

In [83]:
age = titanic.age

In [84]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [85]:
age[0]

22.0

In [87]:
age[[0,1,2]]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [88]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [91]:
age[-1]

KeyError: -1

In [92]:
age.iloc[-1]

32.0

In [93]:
age.iloc[0]

22.0

In [96]:
age.iloc[[0,1,3]]

0    22.0
1    38.0
3    35.0
Name: age, dtype: float64

In [97]:
age.iloc[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [98]:
age.iloc[1:3]

1    38.0
2    26.0
Name: age, dtype: float64

In [99]:
age.iloc[1:]

1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
30     40.0
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 890, dtype: float64

In [100]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [101]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [102]:
event = summer.Event
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [103]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [104]:
event.iloc[-1]

'Wg 96 KG'

In [105]:
event.iloc[1:9]

Athlete
HERSCHMANN, Otto                     100M Freestyle
DRIVAS, Dimitrios        100M Freestyle For Sailors
MALOKINIS, Ioannis       100M Freestyle For Sailors
CHASAPIS, Spiridon       100M Freestyle For Sailors
CHOROPHAS, Efstathios               1200M Freestyle
HAJOS, Alfred                       1200M Freestyle
ANDREOU, Joannis                    1200M Freestyle
CHOROPHAS, Efstathios                400M Freestyle
Name: Event, dtype: object

In [106]:
event.iloc[:10]

Athlete
HAJOS, Alfred                        100M Freestyle
HERSCHMANN, Otto                     100M Freestyle
DRIVAS, Dimitrios        100M Freestyle For Sailors
MALOKINIS, Ioannis       100M Freestyle For Sailors
CHASAPIS, Spiridon       100M Freestyle For Sailors
CHOROPHAS, Efstathios               1200M Freestyle
HAJOS, Alfred                       1200M Freestyle
ANDREOU, Joannis                    1200M Freestyle
CHOROPHAS, Efstathios                400M Freestyle
NEUMANN, Paul                        400M Freestyle
Name: Event, dtype: object

In [107]:
event.iloc[[3,4]]

Athlete
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [108]:
event.loc["PHELPS, Michael"]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [109]:
event.loc[["HAJOS, Alfred","HERSCHMANN, Otto"]]

Athlete
HAJOS, Alfred        100M Freestyle
HAJOS, Alfred       1200M Freestyle
HERSCHMANN, Otto     100M Freestyle
HERSCHMANN, Otto         Sabre Team
Name: Event, dtype: object

In [110]:
event.loc["PHELPS, Michael"].equals(event["PHELPS, Michael"])

True

In [111]:
dic = {1:10, 3:25, 2:6, 4:36, 5:2, 6:0, 7:None}
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [112]:
sales = pd.Series(dic)
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [113]:
sales.sort_index()

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [115]:
sales.sort_index(ascending = True, inplace= True)
sales

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [116]:
sales.sort_values(inplace=False)

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [118]:
sales.sort_values(ascending=False, na_position="last", inplace= True)
sales

4    36.0
3    25.0
1    10.0
2     6.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [119]:
age.nlargest(n = 3)

630    80.0
851    74.0
96     71.0
Name: age, dtype: float64

In [120]:
age.nlargest(n = 3).index[0]

630

In [122]:
age.nsmallest(n = 3)

803    0.42
755    0.67
469    0.75
Name: age, dtype: float64

In [123]:
age.nsmallest(n = 3).index[0]

803

In [124]:
titanic.age.idxmax()

630

In [125]:
titanic.age.idxmin()

803

In [126]:
titanic.age.min()

0.42

In [127]:
dic = {"Mon":10,"Tue":25, "Wed":6, "Thu":36, "Fri":2, "Sat":0, "Sun":None}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2, 'Sat': 0, 'Sun': None}

In [128]:
sales = pd.Series(dic)
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
dtype: float64

In [129]:
sales.sort_values(ascending=True).index[0]

'Sat'

In [130]:
sales.idxmin()

'Sat'

In [131]:
sales.sort_values(ascending=False).index[0]

'Thu'

In [132]:
sales.sort_values(ascending=False).index

Index(['Thu', 'Tue', 'Mon', 'Wed', 'Fri', 'Sat', 'Sun'], dtype='object')

In [134]:
sales.idxmax()

'Thu'

In [135]:
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
dtype: float64

In [137]:
sales["Sun"] = 0
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     0.0
dtype: float64

In [139]:
sales.iloc[3] = 30
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    30.0
Fri     2.0
Sat     0.0
Sun     0.0
dtype: float64

In [140]:
(sales/1.1).round(2)

Mon     9.09
Tue    22.73
Wed     5.45
Thu    27.27
Fri     1.82
Sat     0.00
Sun     0.00
dtype: float64

In [141]:
sales_EUR = (sales/1.1).round(2)
sales_EUR

Mon     9.09
Tue    22.73
Wed     5.45
Thu    27.27
Fri     1.82
Sat     0.00
Sun     0.00
dtype: float64